# TODO: Update with exact module version
numpy
torch>=1.7
opencv_python
loguru
scikit-image
tqdm
Pillow
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py
onnx
onnxruntime
onnx-simplifier

# verified versions
torchvision>=0.10.0
