# TODO: Update with exact module version
numpy
opencv_python
loguru
Pillow
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py
scikit-image
torch==1.9.0
tqdm
torchvision==0.10.0


# verified versions
onnx==1.8.1
onnxruntime==1.8.0
onnx-simplifier==0.3.5
